pymongo
dnspython
pytube
nltk









While running code in your local machine...

1) Install python driver for mongodb
			python -m pip install pymongo
			python -m pip install dnspython
			
			
			
2)Install python video tube for YouTube
			python -m pip install pytube


3)Install natural language toolkit.

			python -m pip install nltk --user
  			

			import nltk
			nltk.download('stopwords')
			nltk.download('punkt')
			nltk.download('averaged_perceptron_tagger')
			nltk.download('wordnet')
			nltk.download('sentiwordnet')




Run these...

1)download config.py from
	https://drive.google.com/file/d/13TW5wBbF8Z7FwaEaT0z6owwngCbdz4Fw/view?usp=sharing
Run python config.py

2) Build all packages for project directory.
Run 	python setup.py develop --user